header,
footer {
    border: 1px solid #000;
    height: 110px;
    padding: 16px;
}

footer {
    margin-top: 16px;
}

nav,
section,
article,
aside {
    border: 1px solid #000;
}

nav {
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 16px;
}

.wrapper {
    overflow: auto;
}

#content {
    float: left;
    width: 70%;
}

section {
    margin-bottom: 16px;
    min-height: 100px;
    padding: 16px;
}

article {
    margin-bottom: 16px;
    min-height: 200px;
    padding: 16px;
}

aside {
    float: right;
    min-height: 600px;
    padding: 16px;
    width: 26.5%;
}